/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  margin-top: -10px;
  background-image: url('background.jpg');
}

 .content {
   margin: 40px;
   margin-top: 110px;
   background-color: rgba(255, 255, 255, 0.5);;
   height: 80vh;
 }

 .container {
   margin: 50px;
  }


   .alignContent {
     text-align: center;
     ul {
       list-style: none;
       margin-left: -40px;
     }
   }

 .navigation-menu ul {
   list-style: none;
   background-color: rgba(130, 202, 250, 0.5);
   text-align: center;
   margin-top: 15px;
   height: 80px;
   padding-top: 10px;
   padding-left: 0px;
   p {
     color: white;
   }
 }

.navigation-menu li {
  font-size: 1.2em;
  display: inline-block;
  width: 33%;
}

.navigation-menu a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.navigation-menu a:hover {
  background-color: #FAB282;
}

.header {
  background-color: rgba(21, 49, 126, 0.5);
  text-align: center;
  margin: -16px;
  margin-top: -22px;
  padding: 15px;
     font-family: 'Montserrat', sans-serif;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
    margin: 30px;
  }
}

.page-title {
  color: white;
}

p {
  color: black;
}
